.grid-template {
  grid-template-areas:
            "items items"
            "info summary";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  .grid-items {
    grid-area: items;
  }

  .grid-summary {
    grid-area: summary;
  }

  .grid-info {
    grid-area: info;
  }

}

