<main class="m-auto max-w-5xl px-4 py-12">
  <h1 class="text-3xl font-bold">Warenkorb</h1>
  <div class="sm:grid grid-template gap-4">
    <div class="grid-items">
      <section aria-labelledby="cart-heading">
        <shop-cart-item-list [items]="cartStore.items()" (quantityChange)="changeQuantity($event)"
                             (deleteItem)="onDelete($event)"/>
      </section>
    </div>
    <div class="grid-info">
      <section aria-labelledby="info-heading">
        <shop-info/>
      </section>
    </div>
    <div class="grid-summary">
      <section aria-labelledby="summary-heading">
        <shop-cart-summary [summary]="{totalCost:cartStore.totalCost()}"/>
      </section>
    </div>
  </div>
</main>

<!--    <form class="md:grid grid-cols-12 mt-12 gap-8 items-start">-->
<form class="flex flex-col">

</form>


