<a4w-section noPadding a4wFragment="top">
  <a4w-parallax-1>
    <app-landing-splash/>
  </a4w-parallax-1>
</a4w-section>

<a4w-section a4wFragment="blog" container="lg">
  <a4w-title-subtitle-decorator header/>
  <a4w-card31/>
  <a4w-link-footer-decorator footer/>
</a4w-section>

<a4w-section a4wFragment="galerie" container="lg">
  <a4w-title-subtitle-decorator header/>
  <!--  <div class="container">-->
  <a4w-image-grid321/>
  <!--  </div>-->
  <a4w-link-footer-decorator footer/>
</a4w-section>

<!--<a4w-lg-container>-->
<a4w-section a4wFragment="card32" container="lg">
  <a4w-card32/>
</a4w-section>
<!--</a4w-lg-container>-->

<a4w-section a4wFragment="banner1" container="lg">
  <div class="container">
    <a4w-banner-1 textColor="black" color1="#ff00ff" color2="#00ff00"/>
  </div>
</a4w-section>

<a4w-section a4wFragment="banner11" container="lg">
  <a4w-banner-1 textColor="white"/>
</a4w-section>

<a4w-section a4wFragment="skills" noPadding>
  <a4w-section-parallax color="white">
    <a4w-title-subtitle-decorator header/>
    <a4w-lg-container>
      <a4w-card42/>
    </a4w-lg-container>
  </a4w-section-parallax>
</a4w-section>

<a4w-section a4wThemeToggle a4wFragment="team" container="lg">
  <a4w-title-subtitle-decorator header/>
  <a4w-card43/>
  <a4w-text-footer-decorator footer/>
</a4w-section>
