<a4w-parallax-1 appFragment="top">
  <app-landing-splash/>
</a4w-parallax-1>

<a4w-section appFragment="blog">
  <a4w-title-subtitle-decorator header/>
  <a4w-card31/>
  <a4w-link-footer-decorator footer/>
</a4w-section>

<a4w-section appFragment="gallery">
  <a4w-title-subtitle-decorator header/>
  <a4w-image-grid321/>
  <a4w-link-footer-decorator footer/>
</a4w-section>

<a4w-section appFragment="banner1">
  <a4w-banner-1 textColor="black" color1="#ff00ff" color2="#00ff00"/>
</a4w-section>

<a4w-section appFragment="banner11">
  <a4w-banner-1 textColor="white"/>
</a4w-section>

<a4w-section-parallax color="white" appFragment="skills">
  <a4w-title-subtitle-decorator header/>
  <a4w-card42/>
</a4w-section-parallax>

<a4w-section themeToggle appFragment="team">
  <a4w-title-subtitle-decorator header/>
  <a4w-card43/>
  <a4w-text-footer-decorator footer/>
</a4w-section>

