@if (isSmall()) {
  <div>
    @for (item of items(); track item.id) {
      <shop-small-cart-item [item]="item"
                            (deleteItem)="deleteItem.emit($event)"
                            (quantityChange)="quantityChange.emit($event)"/>
    }
  </div>
} @else {
  <div>
    <div class="grid cart-grid">
      <span class="">Artikel</span>
      <span class="my-auto">Anzahl</span>
      <span class="my-auto">Stückpreis</span>
      <span class="my-auto">Summe</span>
      <span class="my-auto"></span>
    </div>
    @for (item of items(); track item.id) {
      <shop-large-cart-item [item]="item"
                            (deleteItem)="deleteItem.emit($event)"
                            (quantityChange)="quantityChange.emit($event)"/>
    }
  </div>
}
