<div>
  <div class="p-6">
    <h1>Poolish</h1>
    <div class="grid">
      <span>Mehl 1</span>
      <span>Mehl 2</span>
      <span>Wasser</span>
      <span>Temperatur</span>
      <span>Hefe</span>
      <span>Gare Raum</span>
      <span>Gare KS</span>

      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
      <input required type="text"/>
    </div>
  </div>
</div>
