{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120,
        "bracketSameLine": true,
        "singleAttributePerLine": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "parser": "angular"
      }
    }
  ]
}
