<a4w-root>
  <a4w-appbar-two-rows>
    <!--  <a4w-appbar scroll-out>-->
    <!--  <a4w-appbar scroll-out blurry>-->
    <!--  <a4w-appbar scroll-out transparent>-->
    <!--  <a4w-appbar fixed-top>-->
    <!--  <a4w-appbar fixed-top transparent>-->
    <!--  <a4w-appbar>-->
    <a4w-logo-container logo/>
    <a4w-logo-container logo-small/>
    <a4w-action-container action>
      <a4w-theme-toggle-action/>
      <a4w-phone-action/>
    </a4w-action-container>
    <!--    <a4w-phone-action action/>-->
  </a4w-appbar-two-rows>
  <div footer>
    <a4w-small-footer-2 appFragment="footer"/>
  </div>
  <!--  <a4w-sticky-appbar sticky showOnScrollTop/>-->
  <!--  <a4w-action-container bottom-right>-->
  <!--      <a4w-theme-toggle-action fab/>-->
  <!--      <a4w-phone-action fab/>-->
  <!--  </a4w-action-container>-->
</a4w-root>
