.hidden-description {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0px;
}
