@use '@angular/material' as mat;

//@use 'bootstrap/dist/css/bootstrap-grid.min.css';

//@use 'padding';
//@use 'margin';
@use 'dimensions';
@use 'theming/theme-colors';
@use 'scrollbar';

$dark-primary: mat.define-palette(mat.$purple-palette, 900) !default;
$dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400) !default;
$light-primary: mat.define-palette(mat.$indigo-palette, 900) !default;
$light-accent: mat.define-palette(mat.$pink-palette, A400, A200, A700) !default;
$dark-background: #303030 !default;

@use './theming/themes' with (
  $dark-primary: $dark-primary,
  $dark-accent: $dark-accent,
  $light-primary: $light-primary,
  $light-accent: $light-accent,
  $dark-background: $dark-background
);

@tailwind base;
@tailwind components;
@tailwind utilities;

//@import 'color-contrast';
//.foo-color-contrast {
//  color: tone(#fff); // returns 'white'
//  color: tone(#444); // returns 'dark'
//}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  font-weight: 300;
}

.light-theme {
  body {
    font-weight: 400;
  }
}

.spacer {
  flex: 1 1 auto;
}

.dvh-100 {
  height: 100dvh;
}

// naming 🙄 is 100vh minus appbar
.max-page-height {
  height: calc(100dvh - var(--appbar-height, 64px));
}

.min-max-page-height {
  min-height: calc(100dvh - var(--appbar-height, 64px));
}

// naming 🙄 is max page minus appbar-nav (small/tablet layout)
.max-component-height {
  height: calc(100dvh - var(--appbar-height, 64px) - var(--sub-appbar-height, 56px));
}

.transparent-background {
  background-color: transparent !important;
}

.material-icon {
  font-family: 'Material Icons', 'Material Icons', serif;
  display: inline-flex;
  vertical-align: text-top;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
