$count: 14;
@for $i from 1 through $count {
  $current: $i*50;

  .h-#{$current}px {
    height: #{$current}px !important;
  }

  .max-h-#{$current}px {
    max-height: #{$current}px !important;
  }

  .w-#{$current}px {
    width: #{$current}px !important;
  }

  .max-w-#{$current}px {
    max-width: #{$current}px !important;
  }

}
