.height-250 {
  height: 250px !important;
}

.max-height-250 {
  max-height: 250px !important;
}

.height-300 {
  height: 300px !important;
}

.max-height-300 {
  max-height: 300px !important;
}

.height-350 {
  height: 350px !important;
}

.max-height-350 {
  max-height: 350px !important;
}
