$count: 9;
$value: 0.5;
@for $i from 6 through $count {

  .p-#{$i} {
    padding: #{$i}rem !important;
  }

  .pt-#{$i} {
    padding-top: #{$i}rem !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }

  .py-#{$i} {
    padding-top: #{$i}rem !important;
    padding-bottom: #{$i}rem !important;
  }

  .pl-#{$i} {
    padding-left: #{$i}rem !important;
  }

  .pr-#{$i} {
    padding-right: #{$i}rem !important;
  }

  .px-#{$i} {
    padding-left: #{$i}rem !important;
    padding-right: #{$i}rem !important;
  }

}
