p {
  font-weight: 300;
}

.light-theme {
  p {
    font-weight: 400;
  }
}

span {
  font-weight: 300;
}

.light-theme {
  span {
    font-weight: 400;
  }
}

.a4w-h2 {
  font-size: 2.8em !important;
  line-height: 1.5em !important;
}

.a4w-h3 {
  font-size: 1.9em !important;
  line-height: 1.2em !important;
}

.a4w-h4 {
  font-size: 1.6em !important;
  line-height: 1.0em !important;
}

.a4w-h5 {
  font-size: 1.4em !important;
  line-height: 0.8em !important;
}

.a4w-h6 {
  font-size: 1.1em !important;
  line-height: 1.2em !important;
}

//////////////////////////////////////////////////////////
//              don't want light, bold etc
//////////////////////////////////////////////////////////

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fs-7 {
  font-size: .875rem;
}

