<form [formGroup]="formGroup" class="m-2" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <p>MO</p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="monday1b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="monday1e">
        </mat-form-field>
      </div>
      <div class="col-1">
        <p></p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="monday2b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="monday2e">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <p>DI</p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="tuesday1b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="tuesday1e">
        </mat-form-field>
      </div>
      <div class="col-1">
        <p></p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="tuesday2b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="tuesday2e">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <p>MI</p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="wednesday1b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="wednesday1e">
        </mat-form-field>
      </div>
      <div class="col-1">
        <p></p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="wednesday2b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="wednesday2e">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <p>DO</p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="thursday1b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="thursday1e">
        </mat-form-field>
      </div>
      <div class="col-1">
        <p></p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="thursday2b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="thursday2e">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <p>FR</p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="friday1b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="friday1e">
        </mat-form-field>
      </div>
      <div class="col-1">
        <p></p>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="friday2b">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="full-width">
          <input matInput type="time" formControlName="friday2e">
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex pt-3">
      <span class="spacer"></span>
      <button mat-raised-button color="primary" type="submit">Abschicken</button>
    </div>
  </div>

</form>
