.media {
  display: flex;
  padding: 0.5rem;

  $count: 15;

  @for $i from 2 through $count {
    $current: $i*250;

    @media (min-width: #{$current}px) {
      width: calc(100% / #{$i})
    }
  }
}
