<a4w-parallax-1 a4wFragment="top">
  <app-landing-splash/>
</a4w-parallax-1>

<a4w-section a4wFragment="banner2">
  <a4w-banner-2/>
</a4w-section>

<a4w-section a4wFragment="banner5">
  <a4w-banner-5>
    <a4w-phone-action action button/>
  </a4w-banner-5>
</a4w-section>

<a4w-section a4wFragment="dekra">
  <a4w-banner-container-1>
    <a4w-text-content-1 left/>
    <a4w-image-content-1 right maxHeight="250"/>
  </a4w-banner-container-1>
</a4w-section>

<a4w-section a4wFragment="wir">
  <a4w-presentation-cards-1/>
</a4w-section>

<a4w-section a4wFragment="service">
  <a4w-title-subtitle-decorator header/>
  <a4w-card41/>
</a4w-section>

<a4w-section-parallax color="white" a4wFragment="skills">
  <a4w-title-subtitle-decorator header/>
  <a4w-card42/>
</a4w-section-parallax>

<a4w-section a4wFragment="maps">
  <a4w-iframe-placeholder [component]="GMapsIframeComponent">

    <a4w-maps-iframe a4wFragment="maps"/>
  </a4w-iframe-placeholder>
</a4w-section>

<a4w-section a4wFragment="kontakt">
  <a4w-title-subtitle-decorator header/>
  <lib-contact-info-board-1>
    <lib-company-phone-1 item1/>
    <lib-company-address-1 item2/>
    <lib-company-mail-1 item3/>
    <lib-company-opening-1 item4/>
  </lib-contact-info-board-1>
</a4w-section>

<!--<a4w-maps-iframe a4wFragment="maps"/>-->
