<a4w-parallax-1 appFragment="top">
  <app-landing-splash/>
</a4w-parallax-1>

<a4w-section appFragment="banner2">
  <a4w-banner-2/>
</a4w-section>

<app-about-us appFragment="wir"/>

<a4w-section appFragment="service">
  <a4w-title-subtitle-decorator header/>
  <a4w-card41/>
</a4w-section>

<a4w-section-parallax color="white" appFragment="skills">
  <a4w-title-subtitle-decorator header/>
  <a4w-card42/>
</a4w-section-parallax>

<a4w-section appFragment="kontakt">
  <a4w-title-subtitle-decorator header/>
  <lib-contact-info-board-1>
    <lib-company-phone-1 item1/>
    <lib-company-address-1 item2/>
    <lib-company-mail-1 item3/>
    <lib-company-opening-1 item4/>
  </lib-contact-info-board-1>
</a4w-section>

<!--<a4w-maps-iframe appFragment="maps"/>-->

<!--<a4w-shop-footer-1 appFragment="kontakt"/>-->
