<div class="inline-flex my-3">
  <p class="m-auto">{{ text }}</p>
  <button type="button" mat-icon-button color="accent" (click)="decrease()" aria-label="reduziert Bestellmenge um 1">
    <mat-icon>remove</mat-icon>
  </button>
  <div class="w-32 m-auto">
    <div class="relative">
      <input #fileInput type="number" (change)="onChange()"
             class=" w-full bg-transparent
                       border border-[color:--theme-grey] rounded-md pl-3 pr-16 py-2 number-input
                       transition duration-300 ease focus:outline-none focus:border-[color:--theme-accent]
                       shadow-sm focus:shadow"/>
      @if (value) {
        <button type="button" (click)="clear()"
                class="absolute right-1 top-1 rounded py-1 px-2.5 transition-all">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
               fill="var(--theme-default-text)">
            <path
              d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm80-160h80v-360h-80v360Zm160 0h80v-360h-80v360Z"/>
          </svg>
        </button>
      }
    </div>
  </div>
  <button type="button" mat-icon-button color="accent" (click)="increase()" aria-label="erhöht Bestellmenge um 1">
    <mat-icon>add</mat-icon>
  </button>
</div>
