input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.count-form-field {
  width: 160px;
}

.number-input {
  background-color: var(--mdc-filled-text-field-container-color);
  //border: ;
  //border-color: var(--theme-accent);
}
