@if (detailStore.article(); as article) {

  <div class="m-auto max-w-5xl px-4 py-12 sm:px-6 sm:py-24 md:grid grid-cols-2 md:gap-x-8 md:px-8">
    <div class="md:max-w-lg">

      <nav aria-label="breadcrumb" class="w-max">
        <ol class="flex w-full flex-wrap items-center py-2">
          <li
            class="flex cursor-pointer items-center text-smhover:text-[color:--theme-accent]">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
              </svg>
            </a>
            <span class="pointer-events-none mx-2">
        /
      </span>
          </li>
          <li
            class="flex cursor-pointer items-center text-sm hover:text-[color:--theme-accent]">
            <a href="#">Components</a>
            <span class="pointer-events-none mx-2">
        /
      </span>
          </li>
          <li
            class="flex cursor-pointer items-center text-sm hover:text-[color:--theme-accent]">
            <a href="#">Breadcrumbs</a>
          </li>
        </ol>
      </nav>

      <div class="flex items-center justify-between pb-2">
        <h1 class="text-xl">{{ article.name }} {{ article.shortName }} {{ article.charge }}</h1>
        <a4w-stars [rate]="article.rating || 0"/>
      </div>
      <section class="pb-2" aria-labelledby="information-heading">
        <h2 id="information-heading" class="hidden-description">Händler {{ article.dealer }}</h2>
        <p class="text-sm">{{ article.description }}</p>
      </section>

      <shop-tag-chips [tags]="article.tags"/>

    </div>
    <div class="mt-10 md:col-start-2 md:mt-0 md:self-center md:justify-self-center">
      <img [ngSrc]="'assets/img/' + article.pictureUrl" width="350" height="350" alt="image of kratom"
           class="object-cover rounded-md">
    </div>
    <div class="mt-10 md:col-start-1 md:row-start-2 md:max-w-lg md:self-start">
      <section aria-labelledby="options-heading">
        <h2 id="options-heading" class="hidden-description">Auswahl</h2>
        <form (ngSubmit)="onSubmit()">
          <p>Gewicht in Gramm</p>
          <mat-button-toggle-group name="weight" [(ngModel)]="size"
                                   aria-label="Auswahl Gewicht">
            <mat-button-toggle [value]="'10 Gramm'">10</mat-button-toggle>
            <mat-button-toggle [value]="'50 Gramm'">50</mat-button-toggle>
            <mat-button-toggle [value]="'100 Gramm'">100</mat-button-toggle>
            <mat-button-toggle [value]="'250 Gramm'">250</mat-button-toggle>
            <mat-button-toggle [value]="'500 Gramm'">500</mat-button-toggle>
            <mat-button-toggle [value]="'1000 Gramm'">1000</mat-button-toggle>
          </mat-button-toggle-group>
          <div class="flex items-end flex-col w-fit">
            <shop-number-input text="Menge" [disabled]="!size" (numberChange)="onChangeQuantity($event)"/>
            <button mat-flat-button [disabled]="quantity === 0" color="accent">In den Warenkorb</button>
          </div>

          <div class="mt-10 md:col-start-2 md:row-start-2 md:max-w-lg md:self-start">
            <shop-weight-table [tableData]="detailStore.tableData()" (choiceEvent)="onSelectSize($event)"/>
            <div class="flex items-end flex-col w-fit">
              <shop-number-input text="Menge" [disabled]="!size" (numberChange)="onChangeQuantity($event)"/>
              <button mat-flat-button [disabled]="quantity === 0" color="accent">In den Warenkorb</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>

  <mat-tab-group color="accent" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Beschreibung"> {{ article.description }}</mat-tab>
    <mat-tab label="Händler Info">{{ detailStore.dealer()?.info }}</mat-tab>
    <mat-tab label="Bewertungen"> Content 3</mat-tab>
  </mat-tab-group>
}
