nav {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

.active {
  background-color: var(--theme-primary-alpha-50) !important;
  //background-color: var(--theme-foreground-alpha-10) !important;
}
