<div class="inline-flex my-3">
  <p class="m-auto">{{ text() }}</p>
  <button type="button" mat-icon-button (click)="decrease()"
          [disabled]="disabled()" aria-label="reduziert Bestellmenge um 1">
    <mat-icon>remove</mat-icon>
  </button>
  <div class="w-28 m-auto">
    <div class="relative">
      <input #fileInput [disabled]="disabled()" type="number" (change)="onChange()"
             class=" w-full bg-transparent border border-[color:--theme-grey]
             rounded-md pl-3 pr-16 py-2 focus:outline-none
             focus:border-[color:--theme-accent] shadow-sm focus:shadow"/>
      @if (value) {
        <button type="button" (click)="clear()"
                class="absolute right-1 top-1 py-1 px-2.5">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </div>
  <button type="button" mat-icon-button (click)="increase()"
          [disabled]="disabled()" aria-label="erhöht Bestellmenge um 1">
    <mat-icon>add</mat-icon>
  </button>
</div>
