.sidebar-nav {

  padding: 8px;
  background: var(--mat-sys-surface);

  &.mt-3 .mat-accordion .mat-expansion-panel {

    .active {
      background-color: var(--theme-grey-alpha-90) !important;
    }

    box-shadow: unset;
    border-radius: 0;

    * {
      font-size: 14px !important;
    }

    .mat-expansion-panel-body {
      padding: 0 0 0 16px;
    }

    &.mat-expansion-panel-spacing {
      margin: 0;
    }

    .mat-expansion-panel-header {
      border-radius: 5px;
      position: relative;
      //display: block;
      height: auto;
      padding: 4px 8px 4px 18px;
    }

    .sidebar-sub-menu {
      * {
        font-weight: 300 !important;
      }

      .link {
        display: flex;
        position: relative;
        border-radius: 5px !important;
        height: auto !important;
        padding-bottom: 4px;
        padding-top: 4px;
      }
    }
  }
}
