<mat-accordion>
  @for (item of data; let i = $index; track item.name) {
    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @if (item.children) {
          @for (item2 of item.children; let j = $index; track item2.name) {
            <mat-list-item role="listitem">{{ item2.name }}</mat-list-item>
          }
        }
      </mat-list>
      <!--      <mat-selection-list>-->
      <!--        <mat-list-option *ngFor="let tag of group.tags" [selected]="activeTags.includes(tag)"-->
      <!--                         [value]="tag" (click)="onSelectionChange(tag)">-->
      <!--          {{ tag.name }}-->
      <!--        </mat-list-option>-->
      <!--      </mat-selection-list>-->
    </mat-expansion-panel>
  }
</mat-accordion>
