<mat-accordion>
  @for (item of data; let i = $index; track item.name) {
    <mat-expansion-panel [expanded]="step === i"
                         (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header [class.no-pointer]="step === i">
        <a class="!capitalize cursor-pointer"
           routerLinkActive="active-route" [routerLink]="['./kratom']">
          {{ item.name }}
        </a>
      </mat-expansion-panel-header>
      <mat-list>

        @for (item2 of item.children; let j = $index; track item2.name) {
          <a class="!capitalize cursor-pointer"
             routerLinkActive="active-route" [routerLink]="['./kratom']">
            {{ item.name }}
          </a>
        }

      </mat-list>
    </mat-expansion-panel>
  }
</mat-accordion>

<!--      <mat-list>-->
<!--        @if (item.children) {-->
<!--          @for (item2 of item.children; let j = $index; track item2.name) {-->
<!--            <mat-list-item role="listitem">{{ item2.name }}</mat-list-item>-->
<!--          }-->
<!--        }-->
<!--      </mat-list>-->
