<div class="sidebar-nav mt-3">
  <mat-accordion displayMode="flat">

    @for (item of data; let i = $index; track item.name) {
      <mat-expansion-panel #panel [expanded]="productIndex === i"
                           (click)="panel.open()"
                           (opened)="setProductIndex(i)"
                           (closed)="setCategoryIndex(-1)">
        <mat-expansion-panel-header (click)="navigate(item.url)"
                                    [class.active]="productIndex === i">
          <a class="!capitalize cursor-pointer" [routerLink]="[item.url]">
            {{ item.name }}
          </a>
        </mat-expansion-panel-header>

        @if (item.children) {
          <mat-accordion>
            @for (item2 of item.children; let j = $index; track item2.name) {
              <mat-expansion-panel [expanded]="categoryIndex === j"
                                   (opened)="setCategoryIndex(j)" hideToggle>
                <mat-expansion-panel-header (click)="navigate(item.url + '/'  +item2.url)"
                                            [class.active]="categoryIndex === j">
                  <a class="!capitalize cursor-pointer w-full"
                     [routerLink]="[item.url + '/'  +item2.url]">
                    {{ item2.name }}
                  </a>
                </mat-expansion-panel-header>

                @if (item2.links) {
                  <ng-container *ngTemplateOutlet="articles; context:{ items: item2.links}" />
                }
              </mat-expansion-panel>
            }
          </mat-accordion>

        }
        @if (item.links) {
          <ng-container *ngTemplateOutlet="articles; context:{ items: item.links}" />
        }
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>

<ng-template #articles let-items="items">
  <mat-nav-list>
    <nav class="sidebar-sub-menu">
      @for (link of items; let j = $index; track link) {
        <a mat-list-item class="!capitalize cursor-pointer text-sm link"
           [routerLinkActiveOptions]="linkActiveOptions"
           routerLinkActive="active" [routerLink]="['./kratom', link]">
          {{ link }}
        </a>
      }
    </nav>
  </mat-nav-list>
</ng-template>
