:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-tab-group {
  height: 100%;
  max-width: 700px;
  width: 100%;
}

//desktop
.m-3 {
  mat-tab-group {
    width: 700px;
    min-height: 480px;
    height: 100%;
  }
}

.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}
