<div cdkDropListGroup class="d-flex flex-column">
  <div>
    <h2>Primär</h2>
    <div cdkDropList cdkDropListOrientation="horizontal"
         [cdkDropListData]="top" class="example-list"
         (cdkDropListDropped)="drop($event)">
      @for (item of top; track item) {
        <div class="example-box accent-bg-opposite" cdkDrag>{{ item.topic }}</div>
      }
    </div>
  </div>

  <div>
    <h2>Sekundär</h2>
    <div cdkDropList cdkDropListOrientation="horizontal"
         [cdkDropListData]="bottom" class="example-list"
         (cdkDropListDropped)="drop($event)">
      @for (item of bottom; track item) {
        <div class="example-box accent-bg-opposite" cdkDrag>{{ item.topic }}</div>
      }
    </div>
  </div>

  <div>
    <h2>verfügbar</h2>
    <div cdkDropList cdkDropListOrientation="horizontal"
         [cdkDropListData]="available" class="example-list"
         (cdkDropListDropped)="drop($event)">
      @for (item of available; track item) {
        <div class="example-box accent-bg-opposite" cdkDrag>{{ item.topic }}</div>
      }
    </div>
  </div>
</div>

