<div cdkDropListGroup class="flex flex-col">
  <div>
    <h2 class="text-3xl">Primär</h2>
    <div cdkDropList cdkDropListOrientation="horizontal"
         [cdkDropListData]="high" class="items-list"
         (cdkDropListDropped)="drop($event)">
      @for (item of high; track item) {
        <div class="item accent-bg-opposite" cdkDrag>{{ item.topic }}</div>
      }
    </div>
  </div>

  <div>
    <h2 class="text-3xl">Sekundär</h2>
    <div cdkDropList cdkDropListOrientation="horizontal"
         [cdkDropListData]="low" class="items-list"
         (cdkDropListDropped)="drop($event)">
      @for (item of low; track item) {
        <div class="item accent-bg-opposite" cdkDrag>{{ item.topic }}</div>
      }
    </div>
  </div>

  <div>
    <h2 class="text-3xl">verfügbar</h2>
    <div cdkDropList cdkDropListOrientation="horizontal"
         [cdkDropListData]="none" class="items-list"
         (cdkDropListDropped)="drop($event)">
      @for (item of none; track item) {
        <div class="item accent-bg-opposite" cdkDrag>{{ item.topic }}</div>
      }
    </div>
  </div>
</div>

