@if (authService.correctPassword$ | async) {
  <a4w-root>
    <a4w-appbar-two-rows appbar>
      <!--    <a4w-appbar-two-rows fixed-top blurry>-->
      <!--  <a4w-appbar-two-rows bgColorDark="#111" bgColorLight="#dd00dd">-->
      <a4w-logo-container logo/>
      <a4w-logo-container logo-small/>
      <a4w-theme-toggle-action action/>
      <a4w-sub-nav a4wNavigation nav-menu/>
    </a4w-appbar-two-rows>
    <a4w-action-container bottom-right>
      <a4w-scroll-top-action fab/>
      <!--      @if (adminService.isAdmin$) {-->
      <!--        <a4w-enable-admin-action fab/>-->
      <!--      }-->
    </a4w-action-container>
    <div footer>
      <a4w-small-footer-1 a4wFragment="kontakt"/>
    </div>
  </a4w-root>
} @else {
  <a4w-login/>
}
