<nav>
  <a id="enter-leave" routerLink="enter-leave" routerLinkActive="active" ariaCurrentWhenActive="page">Enter/Leave</a>
  <a id="auto" routerLink="auto" routerLinkActive="active" ariaCurrentWhenActive="page">Auto Calculation</a>
  <a id="heroes" routerLink="stagger" routerLinkActive="active" ariaCurrentWhenActive="page">Filter/Stagger</a>
  <a id="hero-groups" routerLink="hero-groups" routerLinkActive="active" ariaCurrentWhenActive="page">Hero Groups</a>
</nav>

<!--<div [@routeAnimations]="getRouteAnimationData()">-->
<router-outlet></router-outlet>
<!--</div>-->

