<div [@filterAnimation]="cartStore.entities().length">
  <button mat-icon-button (click)="isOpen = !isOpen"
          type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>

<ng-template cdkConnectedOverlay
             (overlayOutsideClick)="close()"
             [cdkConnectedOverlayDisposeOnNavigation]="true"
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="isOpen">

  <a4w-poster rounded="rounded-lg text-[color:--theme-default-text]">
    @for (item of cartStore.entities(); track item.id) {
      <div class="grid grid-cols-12">
        <div class="col-span-4">
          <div class="p-3 h-full">
            <img class="object-cover rounded-lg" width="80" height="80"
                 [ngSrc]="'assets/img/' + item.article.pictureUrl" alt="image">
          </div>
        </div>
        <div class="col-span-6 my-auto">
          <div class="px-2 py-3 text-[color:--theme-default-text]">
            <h5 class="text-sm font-medium">{{ item.article.name }} {{ item.article.charge }}</h5>
            <p class="text-sm">{{ item.article.shortName }}</p>
            <p class="text-sm">{{ item.size }} Gramm</p>
            <!--          <p class="text-sm">Menge{{ item.quantity }}</p>-->
          </div>
        </div>
        <div class="col-span-2 my-auto text-[color:--theme-default-text]">
          <button mat-icon-button (click)="delete(item)" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    }
    <div class="m-4">
      <p class="text-lg">
        Zwischensumme: {{ cartStore.totalCost() | currency:'EUR' }}
      </p>

      <div class="flex justify-around mt-4">
        <a mat-flat-button color="accent" (click)="isOpen = false" routerLink="/warenkorb">
          Warenkorb
        </a>
        <a mat-flat-button color="accent" (click)="isOpen = false" routerLink="/kasse">
          Kasse
        </a>

      </div>
    </div>
  </a4w-poster>
</ng-template>
