<div class="flex flex-col white">
  @if (widgetStore.getHighWidgets().length === 1) {
    <div>
      <div class="flex flex-col">
        @for (item of widgetStore.getHighWidgets(); track item) {
          <app-doc-info-default-widget [item]="item" size="xl"/>
        }
      </div>
      <div class="grid grid-flow-col auto-rows-max">
        @for (item of widgetStore.getLowWidgets(); track item) {
          <app-doc-info-default-widget [item]="item" size="md"/>
        }
      </div>
    </div>
  } @else if (widgetStore.getHighWidgets().length === 2) {
    <div>
      @for (item of widgetStore.getHighWidgets(); track item) {
        <app-doc-info-default-widget [item]="item" size="lg"/>
      }
      <div class="grid grid-flow-col auto-rows-max">
        @for (item of widgetStore.getLowWidgets(); track item) {
          <app-doc-info-default-widget [item]="item" size="md"/>
        }
      </div>
    </div>
  } @else if (widgetStore.getHighWidgets().length === 3) {
    <div>
      @for (item of widgetStore.getHighWidgets(); track item) {
        <app-doc-info-default-widget [item]="item" size="lg"/>
      }
      <div class="grid grid-flow-col auto-rows-max">
        @for (item of widgetStore.getLowWidgets(); track item) {
          <app-doc-info-default-widget [item]="item" size="md"/>
        }
      </div>
    </div>
  }
  <p>{{ widgetStore.getLastUpdate() }}</p>
  <div class="flex flex-row-reverse">
    <button mat-raised-button color="primary" (click)="enableEditMode()">Bearbeiten</button>
  </div>
</div>

